@font-face 
  font-family: 'newmusic-icon'
  src:  url('../fonts/newmusic-icon.eot?13zgd4')
  src:  url('../fonts/newmusic-icon.eot?13zgd4#iefix') format('embedded-opentype'),
    url('../fonts/newmusic-icon.ttf?13zgd4') format('truetype'),
    url('../fonts/newmusic-icon.woff?13zgd4') format('woff'),
    url('../fonts/newmusic-icon.svg?13zgd4#newmusic-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="new-icon-"], [class*=" new-icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'newmusic-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.new-icon-birth:before 
  content: "\e92e"
  color: #956d39

.new-icon-email:before 
  content: "\e92f"
  color: #956d39

.new-icon-github:before 
  content: "\e930"
  color: #956d39

.new-icon-hq:before 
  content: "\e931"
  color: #956d39

.new-icon-introduce:before 
  content: "\e932"
  color: #956d39

.new-icon-qqabout:before 
  content: "\e933"
  color: #956d39

.new-icon-sole:before 
  content: "\e934"
  color: #956d39

.new-icon-version:before 
  content: "\e935"
  color: #956d39

.new-icon-watches:before 
  content: "\e936"
  color: #956d39

.new-icon-change:before 
  content: "\e900"
  color: #956d39

.new-icon-circlefriend .path1:before 
  content: "\e904"
  color: rgb(250, 84, 82)

.new-icon-circlefriend .path2:before 
  content: "\e905"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path3:before 
  content: "\e906"
  margin-left: -1em
  color: rgb(255, 118, 18)

.new-icon-circlefriend .path4:before 
  content: "\e907"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path5:before 
  content: "\e908"
  margin-left: -1em
  color: rgb(255, 200, 23)

.new-icon-circlefriend .path6:before 
  content: "\e90a"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path7:before 
  content: "\e90e"
  margin-left: -1em
  color: rgb(154, 209, 34)

.new-icon-circlefriend .path8:before 
  content: "\e912"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path9:before 
  content: "\e916"
  margin-left: -1em
  color: rgb(102, 208, 32)

.new-icon-circlefriend .path10:before 
  content: "\e918"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path11:before 
  content: "\e919"
  margin-left: -1em
  color: rgb(0, 177, 254)

.new-icon-circlefriend .path12:before 
  content: "\e91a"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path13:before 
  content: "\e91b"
  margin-left: -1em
  color: rgb(82, 131, 240)

.new-icon-circlefriend .path14:before 
  content: "\e91c"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-circlefriend .path15:before 
  content: "\e91d"
  margin-left: -1em
  color: rgb(100, 103, 240)

.new-icon-circlefriend .path16:before 
  content: "\e91e"
  margin-left: -1em
  color: rgb(229, 229, 229)

.new-icon-headset:before 
  content: "\e91f"
  color: #956d39

.new-icon-languages:before 
  content: "\e920"
  color: #956d39

.new-icon-mood:before 
  content: "\e921"
  color: #956d39

.new-icon-play2:before 
  content: "\e922"

.new-icon-qq:before 
  content: "\e923"
  color: #4dafea

.new-icon-qqspace .path1:before 
  content: "\e924"
  color: rgb(255, 192, 0)

.new-icon-qqspace .path2:before 
  content: "\e925"
  margin-left: -1em
  color: rgb(255, 255, 255)

.new-icon-radiostation:before 
  content: "\e926"
  color: #956d39

.new-icon-rightarrow:before 
  content: "\e927"

.new-icon-scene:before 
  content: "\e928"
  color: #956d39

.new-icon-schools:before 
  content: "\e929"
  color: #956d39

.new-icon-share:before 
  content: "\e92a"
  color: #956d39

.new-icon-suspend:before 
  content: "\e92b"

.new-icon-theme:before 
  content: "\e92c"
  color: #956d39

.new-icon-wechat:before 
  content: "\e92d"
  color: #32cd32

.new-icon-list:before 
  content: "\e917"
  color: #956d39

.new-icon-download:before 
  content: "\e901"
  color: #956d39

.new-icon-download1:before 
  content: "\e902"
  color: #956d39

.new-icon-right:before 
  content: "\e903"
  color: #956d39

.new-icon-new:before 
  content: "\e909"
  color: #956d39

.new-icon-people:before 
  content: "\e90b"
  color: #956d39

.new-icon-plus:before 
  content: "\e90c"
  color: #956d39

.new-icon-plus1:before 
  content: "\e90d"
  color: #956d39

.new-icon-rank:before 
  content: "\e90f"
  color: #956d39

.new-icon-recommond:before 
  content: "\e910"
  color: #956d39

.new-icon-recommond1:before 
  content: "\e911"
  color: #956d39

.new-icon-setting:before 
  content: "\e913"
  color: #956d39

.new-icon-type:before 
  content: "\e914"
  color: #956d39

.new-icon-vivo:before 
  content: "\e915"
  color: #956d39

